

.yellow-bg-container {
    padding: 5px;
    
    background-color: #cd9028;
    
    display: flex;
    align-items: center;
    gap: 30px;
    /* justify-content: flex-start; */
    /* margin: auto; */
}

.individual-banners {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    color: white;
    /* width: 200px; */
    
}

.individual-banners:hover{
    transform: scale(1.1);
    color: rgb(41, 41, 72);
}

h1{
    font-size: 14px;
}

.three-dots {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}